/* styles.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f8f9fa;
}

/* Main Content */
.main-content {
    margin-left: 10vw;
    padding: 20px;
    padding-bottom: 0px;
    width: 100%;
}

/* Hero Section */
header {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Course List */
.course-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.course {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.course img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.course h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

.course p {
    margin: 10px 0;
    color: #555;
}

.course button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.course button:hover {
    background: #0056b3;
}