/* Header Styles */
header {
    background-color: #2c3e50;
    color: white;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#header-container {
    margin: 0;
    padding: 5px 0 5px 0;
    margin: auto;
}

header .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.nav-right li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.nav-right li a:hover {
    color: #007bff;
}

.user-menu img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
    border: 2px solid rgb(221, 207, 207);
}

/* Footer Styles */
footer {
    background-color: #2c3e50;
    color: white;
    padding: 0;
    margin-top: 30px;
    text-align: center;
}